@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar but keep scrolling functional */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
